{
    "uuid": "{{ item.0 | newtroy_nbuuid(newtroy_this_server_namespace) }}",
    "name": "Algo {{ newtroy_server_cert_common_name }}",
    "type": "ikev2-cert",
    "remote": {
        "addr": "{{ newtroy_server_cert_common_name }}",
        "cert": "{{ PayloadContentCA }}"
    },
    "local": {
        "p12": "{{ item.1.stdout }}"
    },
    "ike-proposal": "{{ ciphers.defaults.ike | replace('!', '') }}",
    "esp-proposal": "{{ ciphers.defaults.esp | replace('!', '') }}",
    "mtu": 1280
}
